{% extends "@FOSUser/layout.html.twig" %}

{% block rest %}nav-expanded nav-active{% endblock %}
{% block restlist %}class="nav-active"{% endblock %}

{% block body %}

<!-- start: page -->
<h1>Restaurants</h1>
<div class="row">
	{% for facility in facilities %}
	<div class="col-md-12 col-lg-6">
		<div class="row">
			<div class="col-md-12">
				<h3 class="mt-lg"></h3>
				<p class="mb-lg"</p>

				<section class="panel">
					<div class="panel-body panel-body-nopadding">
						<div class="owl-carousel mb-md" data-plugin-carousel data-plugin-options='{ "items": 1, "autoHeight": true }'>
							<div class="item">
								<img alt="{{ facility.name }}" class="img-responsive img-rounded facility-img" src="{{ asset(facility.image.imgPath) }}">
							</div>
							<div class="item">
								<img alt="{{ facility.name }}" class="img-responsive img-rounded facility-img" src="{{ asset(facility.image.imgPath) }}">
							</div>
							<div class="item">
								<img alt="{{ facility.name }}" class="img-responsive img-rounded facility-img" src="{{ asset(facility.image.imgPath) }}">
							</div>
						</div>
						<div class="p-md">
							<h4 class="text-semibold mt-none">{{ facility.name }}</h4>
							<p>{{ facility.address }}</p>
						</div>
					</div>
					<div class="panel-footer panel-footer-btn-group">
						<a href="{{ path('admin_facility_show', { 'id': facility.id }) }}"><i class="fa fa-folder-open mr-xs"></i>Detail</a>
						<a href="{{ path('admin_facility_edit', { 'id': facility.id }) }}"><i class="fa fa-cogs mr-xs"></i>Modifier</a>
						<a href="{{ path('admin_facility_worker', { 'id': facility.id }) }}"><i class="fa fa-child mr-xs"></i> Personnel</a>
					</div>
				</section>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- end: page -->

{% endblock %}
